@charset 'utf-8';

%container {
    padding: {
        left: 1rem;
        right: 1rem;
    }
    @media screen and (min-width: 1024px) {
        margin: {
            left: auto;
            right: auto;
        }
        width: 1024px;
    }
}

.content {
    &_container {
        @extend %container;
    }
}

.s-box {
    margin-top: 2rem;
    &::before {
        background: {
            color: $light-grey2;
        }
        content: '';
        display: block;
        height: 1px;
        margin: {
            bottom: 3rem;
            left: auto;
            right: auto;
        }
        width: 100px;
    }
    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &_col {
            width: 45%;
        }
    }
}

.footer {
    padding: {
        bottom: 1rem;
    }
    @media screen and (min-width: 1024px) {
        text-align: right;
    }
    &_container {
        @extend %container;
        &_text {
            color: $light-grey;
            font: {
                size: .8rem;
                style: italic;
            }
            &_link {
                color: $link-color;
                text-decoration: underline;
                &:hover, &:focus {
                    color: $link-hover-color;
                    text-decoration: none;
                }
                &:visited {
                    color: $link-visited-color;
                }
            }
        }
    }
}

