---
layout: layouts/subpage.liquid
pageTitle: About me
---

<div class="subpage-wrapper">
    <div class="subpage-text">
        <p>
            I became interested in coding around 2004 as a hobby. I really enjoyed it, and I worked as a freelancer until 2010. I've always had a passion for creating accessible
            and user-friendly websites.
        </p>
        
        <p>
            Equipped with expertise gained over the years in HTML, CSS, and accessibility standards, I specialize in creating visually captivating
            and seamlessly functional digital experiences. Committed to ensuring equal access for all users, regardless of abilities, is the cornerstone of my work. I am
            continuously learning and staying up-to-date with industry developments and trends.
        </p>
        
        <p>
            With over 12 years of experience in UX engineering, I transitioned into a role as a UX designer & researcher in 2022. My extensive background in front-end development,
            coupled with my passion for understanding user needs, has led me to this new chapter in my career. I bring a unique perspective to the field of UX, with a strong
            understanding of the technical side of product development and the ability to translate user insights into design solutions.
        </p>
        
        <p>
            In 2018, I had the opportunity to join the organizing teams of two major events in the front-end development community
            - <a href="http://cssconfbp.rocks/" target="_blank" rel="noopener">CSSConf Budapest</a> and
            <a href="https://jsconfbp.com/" rel="noopener" target="_blank">JSConf Budapest</a>.
        </p>
    </div>
    <div class="about-me-photo">
        {% image "./src/images/hiitsme.jpg", "Stefánia Péter" %}
    </div>
</div>