---
layout: layouts/subpage.liquid
pageTitle: About me
---

<div class="subpage-wrapper">
    <div class="subpage-content-wrapper">
        <div class="subpage-text">
            <p>
                I became interested in coding around 2004 as a hobby. I thoroughly enjoyed it and freelanced until 2010. During this time, I've maintained a passion for crafting accessible and user-friendly websites.
            </p>
            
            <p>
                I've spent years mastering HTML, CSS, and accessibility standards, and I focus on creating visually appealing and functional websites. Ensuring everyone can use my websites, regardless of their abilities, is very important to me. I am dedicated to continuous learning and staying current with industry trends.
            </p>
            
            <p>
                With over 12 years of experience in UX engineering, I transitioned to a UX designer role in 2022. Leveraging my extensive background in front-end development and my passion for understanding user needs, I started this new chapter in my career. I bring a unique perspective to UX, combining a deep technical knowledge of product development with the ability to turn user insights into effective design solutions.
            </p>
            
            <p>
                In 2018, I had the opportunity to join the organizing teams of two major events in the front-end development community
                - <a href="http://cssconfbp.rocks/" target="_blank" rel="noopener">CSSConf Budapest</a> and
                <a href="https://jsconfbp.com/" rel="noopener" target="_blank">JSConf Budapest</a>.
            </p>

            <p>My hobbies include illustrating, gardening, playing video games, and decorating home interiors. Below are a few examples of my illustrations. You can find more on <a href="https://www.instagram.com/stefanie.sparkles/" target="_blank">my Instagram profile</a>.</p>
        </div>
        <div class="about-me-photo">
            {% image "./src/images/hiitsme.jpg", "Stefánia Péter" %}
        </div>
    </div>

    <div class="illustrations">
        <div class="tall"><img src="/src/images/illustrations/Avas3.jpg" alt="" /></div>
        <div><img src="/src/images/illustrations/mermaid.jpg" alt="" /></div>
        <div><img src="/src/images/illustrations/Car.jpg" alt="" /></div>
        <div class="tall"><img src="/src/images/illustrations/Wonderful.jpg" alt="" /></div>
        <div><img src="/src/images/illustrations/giraffe.jpg" alt="" /></div>
        <div><img src="/src/images/illustrations/Carrot.jpg" alt="" /></div>
        <div><img src="/src/images/illustrations/Christmas.jpg" alt="" /></div>
        <div><img src="/src/images/illustrations/Spring.jpg" alt="" /></div>
        <div><img src="/src/images/illustrations/December.jpg" alt="" /></div>
        <div class="wide"><img src="/src/images/illustrations/mews.jpg" alt="" /></div>
        <div><img src="/src/images/illustrations/Mushroom_house.jpg" alt="" /></div>
        <div><img src="/src/images/illustrations/Music.jpg" alt="" /></div>
        <div><img src="/src/images/illustrations/May.jpg" alt="" /></div>
        <div><img src="/src/images/illustrations/Skull.jpg" alt="" /></div>
        <div><img src="/src/images/illustrations/Spirit.jpg" alt="" /></div>
    </div>
</div>