---
layout: layouts/subpage.liquid
pageTitle: About me
---

<div class="subpage-wrapper">
    <div class="subpage-text">
        <p>
            I became interested in coding around 2004 as a hobby. I thoroughly enjoyed it and freelanced until 2010. Throughout, I've maintained a passion for crafting accessible and user-friendly websites.
        </p>
        
        <p>
            With expertise gained over the years in HTML, CSS, and accessibility standards, I specialize in crafting visually captivating and seamlessly functional digital experiences. My commitment to ensuring equal access for all users, regardless of abilities, is the cornerstone of my work. I am dedicated to continuous learning and staying up-to-date with industry developments and trends.
        </p>
        
        <p>
            With over 12 years of experience in UX engineering, I transitioned into a role as a UX designer in 2022. Drawing on my extensive background in front-end development and fueled by my passion for understanding user needs, I embarked on this new chapter in my career. I offer a unique perspective to the field of UX, combining a deep understanding of the technical aspects of product development with the ability to translate user insights into impactful design solutions.
        </p>
        
        <p>
            In 2018, I had the opportunity to join the organizing teams of two major events in the front-end development community
            - <a href="http://cssconfbp.rocks/" target="_blank" rel="noopener">CSSConf Budapest</a> and
            <a href="https://jsconfbp.com/" rel="noopener" target="_blank">JSConf Budapest</a>.
        </p>
    </div>
    <div class="about-me-photo">
        {% image "./src/images/hiitsme.jpg", "Stefánia Péter" %}
    </div>
</div>