---
layout: layouts/base.liquid
pageTitle: My projects
pagination:
  data: collections.posts
  size: 5
  alias: entries
  reverse: true
---

<h3 class="project-title">My projects</h3>

<ol class="project-list" reversed>
    {% for post in entries %}
  <li class="project-entry">
    <a href="{{ post.url }}" class="project-entry-link">
      <picture>
        <source srcset="{{ post.data.socialImageWebP }}" type="image/webp">
        <img src="{{ post.data.socialImage }}" alt="{{ post.data.pageTitle }}">
      </picture>
      <span class="project-entry-title">{{ post.data.pageTitle }}</span>
    </a>

    {% if post.data.lead  %}
      <p class="project-entry-lead">
        {{ post.data.lead | safe }}
      </p>
      
      <a class="read-more-link" href="{{ post.url }}">Read more <span aria-hidden="true">→</span></a>
    {% endif %}
  </li>
  {% endfor %}
</ol>