---
layout: layouts/base.liquid
pageTitle: My projects
pagination:
  data: collections.posts
  size: 3
  alias: entries
  reverse: true
---

<section class="main-wrapper">
    <div class="hero-area-wrapper">
        <div>
            <h1 class="hero-area-title">Hello world! I'm <span class="fancy-title">Stef<span class="glitch">á</span>nia</span>,</h1>
            <h2 class="hero-area-title"><span class="fancy-title">UX Researcher</span> &amp; <span class="fancy-title">UX Engineer</span></h2>
            <p class="hero-area-text">
                I specialize in conducting user research and usability testing to ensure that the websites I work on are user-friendly and accessible.
                My expertise in CSS, HTML, and accessibility allows me to translate research insights into tangible design improvements that
                enhance the user experience.
            </p>

            <ul class="hero-area-social">
                <li>
                    <a href="https://github.com/cat-a-flame" target="_blank" title="Github">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/stefaniapeter/" target="_blank" title="LinkedIn">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/cat_a_flame" target="_blank" title="Twitter">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/cat_a_flame/" target="_blank" title="Instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/sugarfunie/" target="_blank" title="Art Instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://front-end.social/@cat_a_flame" target="_blank" rel="me" title="Mastodon">
                        <i class="fa-brands fa-mastodon"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="hero-area-image">
            <picture>
                <source srcset="/src/images/hiitsme.webp" type="image/webp">
                <img class="subpage-image" src="/src/images/hiitsme.jpg" alt="Stefánia Péter" />
            </picture>
        </div>
    </div>
</section>

<section class="about-me">
    <div class="about-me-wrapper">
        <div class="about-me-text">
            <p>I've became to be interested in coding around 2004 as a hobby. I really enjoyed it, and I was working as a freelancer till 2010. I always had a passion for creating accessible and user-friendly websites.</p>
            <p>I am skilled in HTML, CSS, and accessibility standards, with experience in crafting visually appealing and functional digital experiences. Committed to ensuring equal access to all users, regardless of abilities. Continuously learning and staying up-to-date with industry developments and trends.</p>
            <p>With over 12 years of experience in UX engineering, I have transitioned into a role as a UX Researcher in 2022. My extensive background in design and development, coupled with my passion for understanding user needs, has led me to this new chapter in my career. I bring a unique perspective to the field of user research, having a strong understanding of the technical side of product development and the ability to translate user insights into design solutions.</p>
            <p>Currently I work at <strong>Oracle Hungary</strong>, and on several side projects, such as <a href="http://csshell.dev/" target="_blank" rel="noopener">CSS Hell</a>, a collection of poor CSS code examples, explanations and ways to fix them.</p>
            <p>Since 2018, I'm part of the <a href="https://jsconfbp.com/" rel="noopener" target="_blank">JSConf Budapest</a> and <a href="http://cssconfbp.rocks/" target="_blank" rel="noopener">CSSConf Budapest</a> organizing teams.</p>
            <p>My hobbies include drawing, playing video games, reading and <a href="https://schatten.hu/koken" target="_blank">taking photos</a>.</p>
        </div>
        <div class="about-me-decoration"><img src="https://schatten.hu/posts/images/molbubi/molbubi.webp" alt=""/></div>
    </div>
</section>

<section class="journal-entries">
    <div class="journal-entries-wrapper">
        <h3 class="fancy-title section-title">From My Journal</h3>

        <ol class="post-list" reversed>
            {% for article in rss %}
                <li class="post-entry">
                    <div class="post-list-meta">
                        <span class="post-entry-category">{{ article.category }}</span>
                        <time class="post-date" datetime="{{ article.updated }}">{{ article.updated }}</time>
                    </div>

                    <a class="post-entry-title" href="{{ article.link }}">{{ article.title }}</span></a>
                    <p class="post-lead">{{ article.lead }}</p>
                </li>
            {% endfor %}
        </ol>
    </div>
</section>