---
layout: layouts/base.liquid
pageTitle: My projects
pagination:
  data: collections.projects
  size: 3
  alias: entries
  reverse: true
---

{% include "./_includes/_pages/intro.njk" %}
{% include "./_includes/_pages/projects.njk" %}
{% include "./_includes/_pages/about.njk" %}
