---
layout: layouts/resume.liquid
---
<header class="header">
    <div class="container">
        {% include "vcard.njk" %}
    </div>
</header>
<main class="main container">
    <section class="section section__intro" id="section-introduction">
        <h2 class="section__title">About me</h2>
        <div class="lead p-summary">
            I bring a unique blend of technical skills and a user-centric approach to product design. With 12 years experience in
            UX engineering, I have a deep understanding of how to translate user needs into meaningful design solutions.
        </div>
    </section>
    <section class="section">
        <h2 class="section__title">Work epxerience</h2>
        <ol class="entrylist" reversed="">
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2022-05-01">2022 May</time><span> – </span><span>Present</span></p>
                        <h3 class="entry__title p-name">UX Researcher</h3>
                        <p class="entry__organization">
                            <a href="https://www.oracle.com" target="_blank" rel="noopener noreferrer">Oracle</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            I chose to pursue a career as a researcher because I have a deep curiosity about users and their needs.
                            I firmly believe that relying on data is crucial to uncovering the truth. Without concrete evidence,
                            everything becomes mere speculation. That's why I am driven to gather reliable data and use it as a
                            foundation for my work. By conducting thorough research, I aim to bridge the gap between assumptions
                            and reality. My ultimate goal is to create user-centered solutions that have a genuine impact.
                        </p>
                    
                        <h4 class="subtitle">Responsibilities</h3>

                        <ul class="bulletlist">
                            <li>Conduct user interviews, usability tests, and surveys to gather insights into user needs, preferences, and pain points.</li>
                            <li>Analyze and synthesize research data to identify patterns, themes, and actionable insights.</li>
                            <li>Translate user insights into design decisions and product strategy.</li>
                            <li>Own project responsibilities, overseeing the end-to-end UX research process.</li>
                            <li>Utilize design tools to create wireframes, mockups, and prototypes aligned with user expectations.</li>
                            <li>Collaborate with designers, developers, and product managers to integrate user-centered insights.</li>
                            <li>Stay updated on industry trends and best practices in UX research.</li>
                        </ul>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2021-04-01">2021 April</time><span> – </span><time class="dt-start" datetime="2022-05-01">2022 May</time></p>
                        <h3 class="entry__title p-name">User Development Project Lead</h3>
                        <p class="entry__organization">
                            <a href="https://www.oracle.com" target="_blank" rel="noopener noreferrer">Oracle</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            As a UX development project lead, I played a crucial role in helping various teams understand and utilize our newly
                            implemented design system. With expertise in HTML, CSS, and Oracle JET, I provided support and guidance to ensure
                            seamless integration of our new design system across projects. Additionally, I contributed to basic UX improvements
                            and collaborated closely with multiple teams to deliver a unified and consistent experience for our users.
                        </p>

                        <h4 class="subtitle">Responsibilities</h3>

                        <ul class="bulletlist">
                            <li>Assisted teams in adopting and leveraging the newly implemented design system, promoting its use and benefits.</li>
                            <li>Provided technical support and guidance in HTML, CSS, and Oracle JET to ensure smooth integration and adherence to design system principles.</li>
                            <li>Collaborated with cross-functional teams, including designers and developers, to enhance the user experience and create intuitive interfaces.</li>
                            <li>Facilitated collaboration among teams, acting as a liaison between designers, and developers to foster a cohesive and unified approach.</li>
                        </ul>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2019-04-01">2019 April</time><span> – </span><time class="dt-start" datetime="2021-04-01">2021 April</time></p>
                        <h3 class="entry__title p-name">Senior User Experience Engineer</h3>
                        <p class="entry__organization">
                            <a href="https://www.oracle.com" target="_blank" rel="noopener noreferrer">Oracle</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            As part of Oracle's internal User Experience team, having experience in development and expertise in user
                            experience, my main responsibility is to streamline the development of standards-based, accessible and
                            performant web applications for internal use that meet the needs of our sales and marketing departments
                            and also align with our higher level initiatives to look and function consistently with our design
                            guidelines and principles.
                        </p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2017-12-18">2017 December</time><span> – </span><time class="dt-start" datetime="2019-04-01">2019 April</time></p>
                        <h3 class="entry__title p-name">Senior Front-end Developer</h3>
                        <p class="entry__organization">
                            <a href="https://www.oracle.com" target="_blank" rel="noopener noreferrer">Oracle</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            was hired to create a consistent and easy-to-use interface for our company's internal applications. These
                            applications are used by our sales teams. My main focus was on working with CSS and HTML to make the
                            application look good and function well. We used a framework called Oracle JET for development. At that
                            time, we didn't have a design system, so each tool in the application had a different design and appearance.
                        </p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2016-03-01">2016 March</time><span> – </span><time class="dt-start" datetime="2017-12-18">2017 December</time></p>
                        <h3 class="entry__title p-name">Front-end Developer</h3>
                        <p class="entry__organization">
                            <a href="https://www.index.hu" target="_blank" rel="noopener noreferrer">Index.hu Zrt.</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>Index.hu is one of the most visited news portal in Hungary which held great challenges for me. Not only we had to quickly response to daily happenings, but also had to deliver the best experience for our readers on every platform without a hiccup.</p>
                        <p>
                            I was collaborating with the design and development team to achieve the best experience for our interactions and chose the best solutions for the UI development.<br>
                            Due to our position on the market, I was able to experiment with new technologies such as Flexbox.
                        </p>
                        <p>Our team was also responsible for maintaining and developing Index.hu and several other publications belonging to the same holding company, CEMP, including Velvet, Dívány, Totalcar, Fidelio, Inforadio or Femina.</p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2013-07-01">2013 July</time><span> – </span><time class="dt-start" datetime="2015-11-01">2015 November</time></p>
                        <h3 class="entry__title p-name">Sitebuilder</h3>
                        <p class="entry__organization">
                            <a href="https://www.inda.hu" target="_blank" rel="noopener noreferrer">Inda-Labs Zrt.</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>My primary responsibility was to design and construct layouts for our blog engine, blog.hu. This role presented unique challenges as we strived to meet the high demands of our bloggers while operating within the limitations of our system.</p>
                        <p>Working predominantly with HTML, CSS, and occasionally delving into JavaScript, I crafted visually engaging and user-friendly layouts that provided a seamless reading experience for our blog audience. </p>
                        <p>In addition to my design responsibilities, I also took on the role of providing support and effective communication with our valued bloggers.</p>
                        <p>Moreover, my involvement extended beyond blog.hu as I contributed my skills to code newsletters and assisted in the development of Inda Video and Inda Fotó.</p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2012-04-01">2012 April</time><span> – </span><time class="dt-start" datetime="2013-03-01">2013 March</time></p>
                        <h3 class="entry__title p-name">Sitebuilder</h3>
                        <p class="entry__organization">
                            <span>Onyx Media</span>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>As a sitebuilder at Onyx Media, I played a vital role in the development of a dating site. My primary focus was on creating and maintaining the website's structure and functionality to ensure a seamless user experience.</p>
                        <p>I was also responsible to create a competitive analysis and share them with the team so we could decide which features should be in focus.</p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2010-08-01">2010 August</time><span> – </span><time class="dt-start" datetime="2012-03-01">2012 March</time></p>
                        <h3 class="entry__title p-name">Sitebuilder</h3>
                        <p class="entry__organization">
                            <span>Grapes Commincation Kft.</span>
                            <span aria-hidden="true">·</span> <span>Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>I'm really grateful for the opportunity Grapes Communications provided me as they welcomed me into the industry. It was my first job in the field, and I will forever be thankful for the chance they gave me to showcase my skills and the incredible support they offered throughout my journey.</p>
                        <p>I served as a dedicated sitebuilder here, where I was responsible for various crucial tasks that helped shape my professional growth. As a sitebuilder, my role encompassed coding newsletters, creating small graphic elements, and, of course, building and maintaining websites for our clients.</p>
                        <p>One of the significant challenges was supporting Internet Explorer 6 (IE6). Back in 2010, IE6 posed several difficulties due to its limited compatibility with modern web standards. Overcoming issues like border radius and box shadow for IE6 was a noteworthy challenge that taught me valuable problem-solving skills and the importance of graceful degradation.</p>
                    </div>
                </article>
            </li>
        </ol>
    </section>
    <section class="section" id="section-education">
        <h2 class="section__title">Education &amp; Certificates</h2>
            <ol class="entrylist" reversed="">
                <li class="entrylist__item">
                    <article class="entry">
                        <div class="entry__header">
                            <p class="entry__time">
                                <time datetime="2022-02-01">2022 February</time><span> – </span> Ongoing
                            </p>
                            <h3 class="entry__title">UX Design Professional Certificate</h3>
                            <p class="entry__organization">
                                <a href="https://www.coursera.org/professional-certificates/google-ux-design" target="_blank" rel="noopener noreferrer">Google</a>
                                <span aria-hidden="true">·</span> <span>Online</span>
                            </p>
                        </div>
                        <div>
                            <p>Finished modules:</p>
                            <ul class="bulletlist">
                                <li>Start the UX Design Process: Empathize, Define, and Ideate</li>
                                <li>Foundations of User Experience (UX) Design</li>
                                <li>Build Wireframes and Low-Fidelity Prototypes</li>
                                <li>Conduct UX Research and Test Early Concepts</li>
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="entrylist__item">
                    <article class="entry">
                        <div class="entry__header">
                            <p class="entry__time">
                                <time datetime="2021-09-10">2021 September </time><span> – </span><time datetime="2021-12-10">2021 December</time>
                            </p>
                            <h3 class="entry__title">Certificate in User Experience Research</h3>
                            <p class="entry__organization">
                                <a href="https://open.mome.hu/insight/" target="_blank" rel="noopener noreferrer">MOME Open</a>
                                <span aria-hidden="true">·</span> <span>Online</span>
                            </p>
                        </div>
                        <div class="entry__content">
                            <p>MOME Insight is a practical training focusing on research, where Hungary's experienced research professionals share their knowledge. The course builds on the basics of the UX field and is complemented by knowledge of commonly used research methods (interviewing, diary study, observation, questionnaires, usability testing), their practical application, and directly applicable advice. Through examples, you can learn how to map the problem area with qualitative research and effectively analyze and interpret the results obtained.</p>
                        </div>
                    </article>
                </li>
                <li class="entrylist__item">
                    <article class="entry">
                        <div class="entry__header">
                            <p class="entry__time">
                                <time datetime="2002-09-01">2002</time><span> – </span><time datetime="2006-07-15">2006</time>
                            </p>
                            <h3 class="entry__title">High School Diploma</h3>
                            <p class="entry__organization">
                                <span>Eötvös József Építőipari, Művészeti Szakképző</span>
                                <span aria-hidden="true">·</span> <span>Miskolc, HU</span>
                            </p>
                        </div>
                    </article>
                </li>
            </ol>
    </section>
    <div class="grid grid--2col">
        <section class="section section--half" id="section-skills">
            <h2 class="section__title">Skills</h2>
            <ul class="bulletlist">
                <li>Accessibility</li>
                <li>Figma (design, prototyping)</li>
                <li>Creative and collaborative problem solving</li>
                <li>Component development</li>
                <li>Affinity diagramming</li>
                <li>Empathy mapping</li>
                <li>Qualitative research</li>
                <li>Usability testing</li>
            </ul>
        </section>
        <section class="section section--half" id="section-languages">
            <h2 class="section__title">Languages</h2>
            <ul class="bulletlist">
                <li class="p-skill">Hungarian (native)</li>
                <li class="p-skill">English (fluent)</li>
                <li class="p-skill">German (very basic)</li>
            </ul>
        </section>
    </div>
    <section class="section" id="section-custom">
        <h2 class="section__title">Interests</h2>
        <ul class="bulletlist">
            <li>Reading</li>
            <li>Drawing</li>
            <li>Gardening</li>
            <li>Videogames</li>
        </ul>
    </section>
</main>