---
layout: layouts/resume.liquid
---
<header class="header">
    <div class="container">
        {% include "vcard.njk" %}
    </div>
</header>
<main class="main container">
    <section class="section section__intro" id="section-introduction">
        <h2 class="section__title">About me</h2>
        <div class="lead p-summary">
            I bring a unique blend of technical skills and a user-centric approach to product development. With 12 years experience in
            UX engineering, I have a deep understanding of how to translate user needs into meaningful design solutions.
        </div>
    </section>
    <section class="section">
        <h2 class="section__title">Work epxerience</h2>
        <ol class="entrylist" reversed="">
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2025-04-11">2025 April</time><span> – </span>Present</time></p>
                        <h3 class="entry__title p-name">Product Designer</h3>
                        <p class="entry__organization">
                            <a href="https://www.bitrise.io" target="_blank" rel="noopener noreferrer">Bitrise</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, Hungary (remote)</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            Focusing on optimizing the Build Cache experience by partnering with engineering teams to improve CI/CD performance and create
                            smoother, more productive developer workflows.
                        </p>

                        <h4 class="subtitle">Responsibilities</h3>

                        <ul class="bulletlist">
                            <li>Leading user research initiatives, including interviews and surveys, to uncover insights and pain points.</li>
                            <li>Collaborating cross-functionally with product managers, engineers, and data analysts to define and prioritize improvements based on feedback and usage analytics.</li>
                            <li>Creating user flows, wireframes, and high-fidelity designs in Figma.</li>
                        </ul>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2024-10-01">2024 October</time><span> – </span><time class="dt-start" datetime="2025-04-10">2025 April</time></p>
                        <h3 class="entry__title p-name">UX Designer</h3>
                        <p class="entry__organization">
                            <a href="https://it-jobs.aldi-sued.de/en" target="_blank" rel="noopener noreferrer">Aldi DX</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, Hungary (remote)</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            Led user interviews and mentored colleagues in UX research, while designing and optimizing administrative applications that helped
                            stores and suppliers work more efficiently.
                        </p>

                        <h4 class="subtitle">Responsibilities</h3>

                        <ul class="bulletlist">
                            <li>Conducted user interviews to improve internal applications.</li>
                            <li>Mentored a colleague in UX research methodologies and best practices.</li>
                            <li>Designed and optimized administrative applications for stores and suppliers, enhancing efficiency and usability.</li>
                        </ul>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2022-05-01">2022 May</time><span> – </span><time class="dt-start" datetime="2023-11-09">2023 November</time></p>
                        <h3 class="entry__title p-name">UX Designer &amp; Researcher</h3>
                        <p class="entry__organization">
                            <a href="https://www.oracle.com" target="_blank" rel="noopener noreferrer">Oracle</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, Hungary (remote)</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            After 12 years as a front-end developer, I discovered my true passion for user experience design. Transitioning to UX allows me to focus on helping
                            people and making their interactions with technology smoother and more intuitive. I am particularly committed to accessibility, ensuring that all
                            users, regardless of their abilities, can enjoy seamless and inclusive experiences.
                        </p>

                        <h4 class="subtitle">Responsibilities</h3>

                        <ul class="bulletlist">
                            <li>Conducted contextual inquiries to identify user pain points and needs.</li>
                            <li>Collaborated with stakeholders to align design solutions with business objectives.</li>
                            <li>Created user-centered designs using Figma, adapting Oracle's design system, Redwood.</li>
                            <li>Conducted usability testing to evaluate and refine design solutions.</li>
                            <li>Worked closely with developers to ensure seamless implementation of designs.</li>
                                
                        </ul>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2021-04-01">2021 April</time><span> – </span><time class="dt-start" datetime="2022-05-01">2022 May</time></p>
                        <h3 class="entry__title p-name">UX Development Project Lead</h3>
                        <p class="entry__organization">
                            <a href="https://www.oracle.com" target="_blank" rel="noopener noreferrer">Oracle</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, Hungary</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            As a UX development project lead, I played a crucial role in helping various teams understand and utilize our newly
                            implemented design system. With expertise in HTML, CSS, and Oracle JET, I provided support and guidance to ensure
                            seamless integration of our new design system across projects. Additionally, I contributed to basic UX improvements
                            and collaborated closely with multiple teams to deliver a unified and consistent experience for our users.
                        </p>

                        <h4 class="subtitle">Responsibilities</h3>

                        <ul class="bulletlist">
                            <li>Assisted teams in adopting and leveraging Oracle's newly implemented design system, promoting its use and benefits.</li>
                            <li>Provided technical support and guidance in HTML, CSS, and Oracle's own framework, Oracle JET to ensure smooth integration and adherence to design system principles.</li>
                            <li>Collaborated with cross-functional teams, including designers and developers, to enhance the user experience and create intuitive interfaces.</li>
                            <li>Facilitated teamwork by acting as a bridge between designers and developers to ensure a unified approach.</li>
                            <li>Promoted the importance of UX within the organization.</li>
                        </ul>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2019-04-01">2019 April</time><span> – </span><time class="dt-start" datetime="2021-04-01">2021 April</time></p>
                        <h3 class="entry__title p-name">Senior User Experience Engineer</h3>
                        <p class="entry__organization">
                            <a href="https://www.oracle.com" target="_blank" rel="noopener noreferrer">Oracle</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, Hungary</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            As part of Oracle's internal User Experience team, having experience in development and expertise in user
                            experience, my main responsibility is to streamline the development of standards-based, accessible and
                            performant web applications for internal use that meet the needs of our sales and marketing departments
                            and also align with our higher level initiatives to look and function consistently with our design
                            guidelines and principles.
                        </p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2017-12-18">2017 December</time><span> – </span><time class="dt-start" datetime="2019-04-01">2019 April</time></p>
                        <h3 class="entry__title p-name">Senior Front-end Developer</h3>
                        <p class="entry__organization">
                            <a href="https://www.oracle.com" target="_blank" rel="noopener noreferrer">Oracle</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, Hungary</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            was hired to create a consistent and easy-to-use interface for our company's internal applications. These
                            applications are used by our sales teams. My main focus was on working with CSS and HTML to make the
                            application look good and function well. We used a framework called Oracle JET for development. At that
                            time, we didn't have a design system, so each tool in the application had a different design and appearance.
                        </p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2016-03-01">2016 March</time><span> – </span><time class="dt-start" datetime="2017-12-18">2017 December</time></p>
                        <h3 class="entry__title p-name">Front-end Developer</h3>
                        <p class="entry__organization">
                            <a href="https://www.index.hu" target="_blank" rel="noopener noreferrer">Index.hu Zrt.</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, Hungary</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>Index.hu is one of the most visited news portal in Hungary which held great challenges for me. Not only we had to quickly response to daily happenings, but also had to deliver the best experience for our readers on every platform without a hiccup.</p>
                        <p>
                            I was collaborating with the design and development team to achieve the best experience for our interactions and chose the best solutions for the UI development.<br>
                            Due to our position on the market, I was able to experiment with new technologies such as Flexbox.
                        </p>
                        <p>Our team was also responsible for maintaining and developing Index.hu and several other publications belonging to the same holding company, CEMP, including Velvet, Dívány, Totalcar, Fidelio, Inforadio or Femina.</p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2013-07-01">2013 July</time><span> – </span><time class="dt-start" datetime="2015-11-01">2015 November</time></p>
                        <h3 class="entry__title p-name">Sitebuilder</h3>
                        <p class="entry__organization">
                            <a href="https://www.inda.hu" target="_blank" rel="noopener noreferrer">Inda-Labs Zrt.</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, Hungary</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>My primary responsibility was to design and construct layouts for our blog engine, blog.hu. This role presented unique challenges as we strived to meet the high demands of our bloggers while operating within the limitations of our system.</p>
                        <p>Working predominantly with HTML, CSS, and occasionally delving into JavaScript, I crafted visually engaging and user-friendly layouts that provided a seamless reading experience for our blog audience. </p>
                        <p>In addition to my design responsibilities, I also took on the role of providing support and effective communication with our valued bloggers.</p>
                        <p>Moreover, my involvement extended beyond blog.hu as I contributed my skills to code newsletters and assisted in the development of Inda Video and Inda Fotó.</p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2012-04-01">2012 April</time><span> – </span><time class="dt-start" datetime="2013-03-01">2013 March</time></p>
                        <h3 class="entry__title p-name">Sitebuilder</h3>
                        <p class="entry__organization">
                            <span>Onyx Media</span>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, Hungary</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>As a sitebuilder at Onyx Media, I played a vital role in the development of a dating site. My primary focus was on creating and maintaining the website's structure and functionality to ensure a seamless user experience.</p>
                        <p>I was also responsible to create a competitive analysis and share them with the team so we could decide which features should be in focus.</p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2010-08-01">2010 August</time><span> – </span><time class="dt-start" datetime="2012-03-01">2012 March</time></p>
                        <h3 class="entry__title p-name">Sitebuilder</h3>
                        <p class="entry__organization">
                            <span>Grapes Commincation Kft.</span>
                            <span aria-hidden="true">·</span> <span>Budapest, Hungary</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>I'm really grateful for the opportunity Grapes Communications provided me as they welcomed me into the industry. It was my first job in the field, and I will forever be thankful for the chance they gave me to showcase my skills and the incredible support they offered throughout my journey.</p>
                        <p>I served as a dedicated sitebuilder here, where I was responsible for various crucial tasks that helped shape my professional growth. As a sitebuilder, my role encompassed coding newsletters, creating small graphic elements, and, of course, building and maintaining websites for our clients.</p>
                        <p>One of the significant challenges was supporting Internet Explorer 6 (IE6). Back in 2010, IE6 posed several difficulties due to its limited compatibility with modern web standards. Overcoming issues like border radius and box shadow for IE6 was a noteworthy challenge that taught me valuable problem-solving skills and the importance of graceful degradation.</p>
                    </div>
                </article>
            </li>
        </ol>
    </section>
    <section class="section" id="section-education">
        <h2 class="section__title">Certificates</h2>
            <ol class="entrylist" reversed="">
                <li class="entrylist__item">
                    <article class="entry">
                        <div class="entry__header">
                            <p class="entry__time">
                                <time datetime="2024-01-01">2024 January</time><span> – </span> Ongoing
                            </p>
                            <h3 class="entry__title">UX Designer Certificate</h3>
                            <p class="entry__organization">
                                <a href="https://app.uxcel.com/career-paths/ux-designer" target="_blank" rel="noopener noreferrer">Uxcel</a>
                                <span aria-hidden="true">·</span> <span>Online</span>
                            </p>
                        </div>
                        <div>
                            <ul class="bulletlist">
                                <li>UX Design Foundations</li>
                                <li>Design Terminology</li>
                                <li>Heuristic Analysis for Website</li>
                                <li>Principles of Design</li>
                                <li>Design Accessibility</li>
                                <li>Wireframing</li>
                                <li>AI in UX/UI Design</li>
                                <li>Usability Testing</li>
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="entrylist__item">
                    <article class="entry">
                        <div class="entry__header">
                            <p class="entry__time">
                                <time datetime="2022-02-01">2022 February</time><span> – </span> Ongoing
                            </p>
                            <h3 class="entry__title">UX Design Professional Certificate</h3>
                            <p class="entry__organization">
                                <a href="https://www.coursera.org/professional-certificates/google-ux-design" target="_blank" rel="noopener noreferrer">Google</a>
                                <span aria-hidden="true">·</span> <span>Online</span>
                            </p>
                        </div>
                        <div>
                            <ul class="bulletlist">
                                <li>Start the UX Design Process: Empathize, Define, and Ideate</li>
                                <li>Foundations of User Experience (UX) Design</li>
                                <li>Build Wireframes and Low-Fidelity Prototypes</li>
                                <li>Conduct UX Research and Test Early Concepts</li>
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="entrylist__item">
                    <article class="entry">
                        <div class="entry__header">
                            <p class="entry__time">
                                <time datetime="2021-09-10">2021 September </time><span> – </span><time datetime="2021-12-10">2021 December</time>
                            </p>
                            <h3 class="entry__title">Certificate in User Experience Research</h3>
                            <p class="entry__organization">
                                <a href="https://open.mome.hu/insight/" target="_blank" rel="noopener noreferrer">MOME Open</a>
                                <span aria-hidden="true">·</span> <span>Online</span>
                            </p>
                        </div>
                        <div class="entry__content">
                            <p>MOME Insight is a practical training focusing on research, where Hungary's experienced research professionals share their knowledge. The course builds on the basics of the UX field and is complemented by knowledge of commonly used research methods (interviewing, diary study, observation, questionnaires, usability testing), their practical application, and directly applicable advice. Through examples, you can learn how to map the problem area with qualitative research and effectively analyze and interpret the results obtained.</p>
                        </div>
                    </article>
                </li>
            </ol>
    </section>
    <div class="grid grid--2col">
        <section class="section section--half" id="section-skills">
            <h2 class="section__title">Design skills</h2>
            <ul class="bulletlist">
                <li>UI/UX Design</li>
                <li>Design Thinking</li>
                <li>Wireframing</li>
                <li>Persona</li>
                <li>Heuristic Evaluation</li>
                <li>Interactive Prototyping</li>
                <li>Usability Testing</li>
                <li>Empathy Mapping & Affinity</li>
                <li>Stakeholder Management</li>
            </ul>
        </section>

        <section class="section section--half" id="section-skills">
            <h2 class="section__title">Tools</h2>
            <ul class="bulletlist">
                <li>Figma &amp; Figjam</li>
                <li>Adobe XD</li>
                <li>Miro</li>
                <li>Photoshop</li>
                <li>Procreate</li>
            </ul>
        </section>

        <section class="section section--half" id="section-skills">
            <h2 class="section__title">Other skills</h2>
            <ul class="bulletlist">
                <li>HTML & CSS</li>
                <li>Accessibility</li>
                <li>Illustrating</li>
            </ul>
        </section>

        <section class="section section--half" id="section-languages">
            <h2 class="section__title">Languages</h2>
            <ul class="bulletlist">
                <li class="p-skill">Hungarian (native)</li>
                <li class="p-skill">English (professional working proficiency)</li>
                <li class="p-skill">German (beginner)</li>
            </ul>
        </section>
    </div>
</main>