---
layout: layouts/resume.liquid
---
<header class="header">
    <div class="container">
        {% include "vcard.njk" %}
    </div>
</header>
<main class="main container">
    <section class="section" id="section-introduction">
        <h2 class="section__title">About me</h2>
        <div class="lead p-summary">
            I specialize in conducting user research and usability testing to ensure that the websites I work on are user-friendly and accessible. 
            My expertise in CSS, HTML, and accessibility allows me to translate research insights into tangible design improvements that enhance the user experience.
        </div>
    </section>
    <section class="section">
        <h2 class="section__title">Work epxerience</h2>
        <ol class="entrylist" reversed="">
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2022-03-01">2022 March</time><span> – </span><span>Present</span></p>
                        <h3 class="entry__title p-name">UX Researcher</h3>
                        <p class="entry__organization">
                            <a href="https://www.oracle.com" target="_blank" rel="noopener noreferrer">Oracle</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            With over 12 years of experience in UX engineering, I have transitioned into a role as a UX Researcher. My extensive background in
                            development, coupled with my passion for understanding user needs, has led me to this new chapter in my career. I bring a unique
                            perspective to the field of user research, having a strong understanding of the technical side of product development and the
                            ability to translate user insights into design solutions.<br><br>
                            I also take part in the design process and communicate with stakeholders and developer teams to make sure the design is technically
                            possible and meets business goals. I believe that a collaborative approach is important for creating great designs that make users happy.
                        </p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2017-12-18">2017 December</time><span> – </span><time class="dt-start" datetime="2022-03-01">2022 March</time></p>
                        <h3 class="entry__title p-name">User Experience Engineer</h3>
                        <p class="entry__organization">
                            <a href="https://www.oracle.com" target="_blank" rel="noopener noreferrer">Oracle</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            As part of Oracle's internal User Experience team, having experience in development and expertise in user experience, my main
                            responsibility is to streamline the development of standards-based, accessible and performant web applications for internal
                            use that meet the needs of our sales and marketing departments and also align with our higher level initiatives to look and
                            function consistently with our design guidelines and principles.
                        </p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2016-03-01">2016 March</time><span> – </span><time class="dt-start" datetime="2017-12-18">2017 December</time></p>
                        <h3 class="entry__title p-name">Front-end Developer</h3>
                        <p class="entry__organization">
                            <a href="https://www.index.hu" target="_blank" rel="noopener noreferrer">Index.hu Zrt.</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            Index.hu is on of the most visited news portal in Hungary which held great challenges for me. Not only we had to quickly response
                            to daily happenings, but also had to deliver the best experience for our readers on every platform without a hiccup.<br><br>
                            I was collaborating with the design and development team to achieve the best experience for our interactions and chose the best
                            solutions for the UI development.
                        </p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2013-07-01">2013 July</time><span> – </span><time class="dt-start" datetime="2015-11-01">2015 November</time></p>
                        <h3 class="entry__title p-name">Sitebuilder</h3>
                        <p class="entry__organization">
                            <a href="https://www.inda.hu" target="_blank" rel="noopener noreferrer">Inda-Labs Zrt.</a>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>
                            Mainly coding layouts for blogs under blog.hu (HTML, CSS, little bit of JS). Sometimes its not so easy to put through some
                            designs dreamed by our bloggers, cause the system is limited. Even tough, I take that as a challenge, so I can improve myself.
                        </p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2012-04-01">2012 April</time><span> – </span><time class="dt-start" datetime="2013-03-01">2013 March</time></p>
                        <h3 class="entry__title p-name">Sitebuilder</h3>
                        <p class="entry__organization">
                            <span>Onyx Media</span>
                            <span aria-hidden="true">·</span> <span class="p-location">Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>Sitebuilding, minimal graphics work</p>
                    </div>
                </article>
            </li>
            <li class="entrylist__item h-event p-experience">
                <article class="entry">
                    <div class="entry__header">
                        <p class="entry__time"><time class="dt-start" datetime="2010-08-01">2010 August</time><span> – </span><time class="dt-start" datetime="2012-03-01">2012 March</time></p>
                        <h3 class="entry__title p-name">Sitebuilder</h3>
                        <p class="entry__organization">
                            <span>Grapes Commincation Kft.</span>
                            <span aria-hidden="true">·</span> <span>Budapest, HU</span>
                        </p>
                    </div>
                    <div class="entry__content">
                        <p>Sitebuilding, making layouts, smaller graphics works, designing and coding newsletters.</p>
                    </div>
                </article>
            </li>
        </ol>
    </section>
    <section class="section" id="section-education">
        <h2 class="section__title">Education &amp; Certificates</h2>
            <ol class="entrylist" reversed="">
                <li class="entrylist__item">
                    <article class="entry">
                        <div class="entry__header">
                            <p class="entry__time">
                                <time datetime="2022-02-01">2022 February</time><span> – </span> Ongoing
                            </p>
                            <h3 class="entry__title">UX Design Professional Certificate</h3>
                            <p class="entry__organization">
                                <a href="https://www.coursera.org/professional-certificates/google-ux-design" target="_blank" rel="noopener noreferrer">Google</a>
                                <span aria-hidden="true">·</span> <span>Online</span>
                            </p>
                        </div>
                        <div>
                            <p>Finished modules:</p>
                            <ul class="bulletlist">
                                <li>Start the UX Design Process: Empathize, Define, and Ideate</li>
                                <li>Foundations of User Experience (UX) Design</li>
                                <li>Build Wireframes and Low-Fidelity Prototypes</li>
                                <li>Conduct UX Research and Test Early Concepts</li>
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="entrylist__item">
                    <article class="entry">
                        <div class="entry__header">
                            <p class="entry__time">
                                <time datetime="2021-09-10">2021 September </time><span> – </span><time datetime="2021-12-10">2021 December</time>
                            </p>
                            <h3 class="entry__title">Certificate in User Experience Reserach</h3>
                            <p class="entry__organization">
                                <a href="https://www.mome.hu" target="_blank" rel="noopener noreferrer">Moholy-Nagy University of Art and Design</a>
                                <span aria-hidden="true">·</span> <span>Budapest, HU</span>
                            </p>
                        </div>
                    </article>
                </li>
                <li class="entrylist__item">
                    <article class="entry">
                        <div class="entry__header">
                            <p class="entry__time">
                                <time datetime="2002-09-01">2002</time><span> – </span><time datetime="2006-07-15">2006</time>
                            </p>
                            <h3 class="entry__title">High School Diploma</h3>
                            <p class="entry__organization">
                                <span>Eötvös József Építőipari, Művészeti Szakképző</span>
                                <span aria-hidden="true">·</span> <span>Miskolc, HU</span>
                            </p>
                        </div>
                    </article>
                </li>
            </ol>
    </section>
    <div class="grid grid--2col">
        <section class="section section--half" id="section-skills">
            <h2 class="section__title">Skills</h2>
            <ul class="bulletlist">
                <li>HTML</li>
                <li>CSS</li>
                <li>Accessibility</li>
                <li>Figma</li>
                <li>FigJam</li>
                <li>Affinity Diagramming</li>
                <li>Empathy Mapping</li>
                <li>Qualitative Research</li>
                <li>Usability Testing</li>
            </ul>
        </section>
        <section class="section section--half" id="section-languages">
            <h2 class="section__title">Languages</h2>
            <ul class="bulletlist">
                <li class="p-skill">Hungarian (native)</li>
                <li class="p-skill">English (fluent)</li>
                <li class="p-skill">German (very basic)</li>
            </ul>
        </section>
    </div>
    <section class="section" id="section-custom">
        <h2 class="section__title">Interests</h2>
        <ul class="bulletlist">
            <li>Reading</li>
            <li>Drawing</li>
            <li>Gardening</li>
            <li>Videogames</li>
        </ul>
    </section>
</main>