<section class="about-me" id="about">
    <div class="about-me-wrapper">
        <h3 class="fancy-title section-title">About me</h3>
        <div class="about-me-content">
            <div class="about-me-text">
                <p>I've became to be interested in coding around 2004 as a hobby. I really enjoyed it, and I was working as a freelancer till 2010. I always had a passion for creating accessible and user-friendly websites.</p>
                <p>I am skilled in HTML, CSS, and accessibility standards, with experience in crafting visually appealing and functional digital experiences. Committed to ensuring equal access to all users, regardless of abilities. Continuously learning and staying up-to-date with industry developments and trends.</p>
                <p>With over 12 years of experience in UX engineering, I have transitioned into a role as a UX Researcher in 2022. My extensive background in design and development, coupled with my passion for understanding user needs, has led me to this new chapter in my career. I bring a unique perspective to the field of user research, having a strong understanding of the technical side of product development and the ability to translate user insights into design solutions.</p>
                <p>In 2018, I had the opportunity to join the organizing teams of two major events in the front-end development community - <a href="http://cssconfbp.rocks/" target="_blank" rel="noopener">CSSConf Budapest</a> and <a href="https://jsconfbp.com/" rel="noopener" target="_blank">JSConf Budapest</a>.</p>
            </div>
            <div class="about-me-image about-me-photo">
                {% image "./src/images/hiitsme.jpg", "Stefánia Péter" %}
            </div>
        </div>
    </div>
</section>