<section class="intro-content-wrapper" id="home">
    <div>
        <p class="intro-subtitle">Hi, my name is</p>
        <h2 class="fancy-title">Stef<span class="glitch">á</span>nia</h2>
        <p class="intro-subtitle">I am a</p>
        <h2 class="fancy-subtitle">UX designer</h2>

        <ul class="intro-social">
            <li>
                <a href="https://github.com/cat-a-flame" target="_blank" title="Github">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/cat_a_flame/" target="_blank" title="Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/stefaniapeter/" target="_blank" title="LinkedIn">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
    </div>
</section>