<section class="projects" id="projects">
    <div class="projects-wrapper">
        <h3 class="section-title">Projects</h3>

        <ol class="project-list" reversed>
            {% for post in entries %}
                <li class="project-entry">
                    <a href="{{ post.url }}" class="project-entry-link">
                        <span class="project-category">{{ post.data.category }}</span>
                        
                        <picture>
                            <img src="{{ post.data.socialImage }}" alt="{{ post.data.pageTitle }}">
                        </picture>
                        
                        <div class="project-content">
                            <h4 class="project-title">{{ post.data.pageTitle }}</h4>
                            <span class="project-read-more">View details</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
</section>