:root {
    --brand-color: #f6b000;
    --light-purple: #00222b;
    --dark-purple: #011c23;
    --link-color: #68d2d0;
    --link-hover-color: #7cf5f3;
    --link-visited-color: #64c7c6;
    --content-width: 60rem;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    background-attachment: fixed;
    background-color: var(--light-purple);
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2067%2067%22%20style%3D%22enable-background%3Anew%200%200%2067%2067%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%20style%3D%22opacity%3A.12%22%3E%3Cpath%20d%3D%22M3.8%201C5.9.9%206.9%201.7%207%203.6c.1%202.2-.7%203.2-2.5%203.4C2.1%207.2%201%206.3%201%204.1.9%202%201.8%201.1%203.8%201z%22%20style%3D%22fill%3A%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: 15px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
}
    @media screen and (max-width: 48rem) {
        body {
            font-size: 1rem;
        }
    }
    @media (prefers-reduced-data: reduce) {
        body {
            background-image: none;
        }
    }

a {
    border: 1px solid transparent;
    color: var(--link-color);
    text-decoration: underline;
}
    a:hover,
    a:focus {
        color: var(--link-hover-color);
        outline: 0 none;
        text-decoration: none;
    }

    a:focus {
        border-color: var(--link-hover-color);
    }

p:not(:last-of-type) {
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul,
ol {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

    ul li,
    ol li {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

strong {
    font-weight: 700;
}

img {
    max-width: 100%;
}

figure {
    margin-bottom: 2rem;
}

figcaption {
    font-size: 1rem;
}