:root {
    --brand-color: #4b1b00;
    --secondary-color: #00ffff;
    --tertiary-color: #F452AF;

    --link-color: #F452AF;
    --link-hover-color: #e1439d;
    --link-visited-color: #4b2a18;
    --content-width: 60rem;
    --primary-font: "Saira Semi Condensed", sans-serif;
    --secondary-font: "Silkscreen", sans-serif;      
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}

body {
    background-color: #1A1D2E;
    color: #fff;
    font-family: var(--primary-font);
    font-size: 1.1rem;
    line-height: 1.5;

    &.home {
        background-attachment: fixed;
        background-color: #1A1D2E;
        background-image: url("/src/images/vaporbg_sm.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
    @media screen and (min-width: 33rem) and (max-width: 56rem) {
        body.home {
            background-image: url("/src/images/vaporbg_md.jpg");
        }
    }

    @media screen and (min-width: 56rem) {
        body.home {
            background-image: url("/src/images/vaporbg_lg.jpg");
        }
    }

    @media screen and (max-width: 56rem) {
        body {
            font-size: 1rem;
        }
    }
    @media (prefers-reduced-data: reduce) {
        body {
            background-image: none;
        }
    }

a {
    border: 1px solid transparent;
    color: var(--link-color);
    text-decoration: underline;
}
    a:hover,
    a:focus {
        color: var(--link-hover-color);
        outline: 0 none;
        text-decoration: none;
    }

    a:focus {
        border-color: var(--link-hover-color);
    }

p:not(:last-of-type) {
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul,
ol {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

    ul li,
    ol li {
        margin-top: .8rem;
        margin-bottom: .8rem;
    }

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

blockquote, q {
    border-left: 4px solid var(--tertiary-color);
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: 1rem;
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    margin-bottom: 2rem;
    margin-top: 2rem;

    & img {
        box-shadow: 6px 6px 0px 0px #cc4897b0;
    }
}

figcaption {
    font-size: .9rem;
    margin-top: .5rem;
}
