:root {
    --brand-color: #4b1b00;
    --link-color: #60361F;
    --link-hover-color: #4b2a18;
    --link-visited-color: #4b2a18;
    --content-width: 60rem;
    --secondary-font: "Fredericka the Great", cursive;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}

body {
    background-attachment: fixed;
    background-color: #fffafa;
    background-image: url("/src/images/bg.png");
    color: #343434;
    font-family: "Merriweather", serif;
    font-size: 1.1rem;
    line-height: 1.5;
}
    @media screen and (max-width: 48rem) {
        body {
            font-size: 1rem;
        }
    }
    @media (prefers-reduced-data: reduce) {
        body {
            background-image: none;
        }
    }

a {
    border: 1px solid transparent;
    color: var(--link-color);
    text-decoration: underline;
}
    a:hover,
    a:focus {
        color: var(--link-hover-color);
        outline: 0 none;
        text-decoration: none;
    }

    a:focus {
        border-color: var(--link-hover-color);
    }

p:not(:last-of-type) {
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul,
ol {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

    ul li,
    ol li {
        margin-top: .8rem;
        margin-bottom: .8rem;
    }

strong {
    font-weight: 700;
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    margin-bottom: 2rem;
}

figcaption {
    font-size: 1rem;
}