.intro-content-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;

    &::after {
        color: #805f4e;
        content: "⮟";
        position: absolute;
        bottom: 2rem;
        font-size: 2rem;
        animation: bounce2 2s ease infinite;
    }
}

@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

    @media screen and (min-width: 48rem) {
        .intro-content-wrapper {
            align-items: center;
            display: flex;
            justify-content: center;
            min-height: 100vh;
        }
    }
    @media screen and (max-width: 48rem) {
        .intro-content-wrapper {
            margin-bottom: 5rem;
            margin-top: 2rem;
            &::after {
                display: none;
            }
        }
    }

.intro-title {
    font-size: 1.25rem;
    line-height: 1.3;
}
    @media screen and (max-width: 48rem) {
        .intro-title {
            font-size: 1rem;
        }
    }

.intro-subtitle {
    font-size: 2.5rem;
    line-height: 1.3;
}
    @media screen and (max-width: 48rem) {
        .intro-subtitle {
            font-size: 1.5rem;
        }
    }

.intro-title .fancy-title {
    white-space: nowrap;
}

.intro-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 65ch;
}

.intro-social {
    display: flex;
    gap: 1.5rem;
    font-size: 1.8rem;
    list-style: none;
    margin: 0;
}
    @media screen and (max-width: 48rem) {
        .intro-social {
            font-size: 1.5rem;
        }
    }

.intro-social li {
    margin: 0;
}

.intro-social a {
    color: var(--brand-color);
}
.intro-social i {
    color: var(--brand-color);
    transition: transform .6s;
}
    .intro-social a:hover i {
        color: var(--link-hover-color);
        transform: scale(1.2);
    }

.glitch {
    color: transparent;
    font-size: 0;
}

.glitch::after {
    animation: flicker 3s linear infinite, content 35s linear infinite;
    animation-delay: 5s;
    color: var(--brand-color);
    content: "á";
    display: inline-block;
    font-size: 40px;
    position: relative;
    transform: skewX(0deg);
    z-index: 1;
}
    @media screen and (max-width: 48rem) {
        .glitch::after {
            font-size: 1.5rem;
        }
    }

    @keyframes content {
    22% {
        content: "�";
    }
    63% {
        content: "Ã¡";
        font-family: "Merriweather", serif;
    }
    69% {
        content: "▯";
    }
}

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: .99;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
    }
}
