.fancy-title {
    color: var(--brand-color);
    font-family: 'Gloock', serif;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
    @media screen and (max-width: 48rem) {
        .section-title {
            font-size: 2rem;
        }
    }

.link-button {
    border: 1px solid var(--link-color);
    display: inline-block;
    line-height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    transition: all ease .3s;
}
    .link-button:hover,
    .link-button:focus {
        background-color: var(--link-color);
        color: var(--dark-purple);
        text-decoration: none;
    }
    .link-button:active {
        background-color: var(--link-hover-color);
        border-color: var(--link-hover-color);
        color: var(--dark-purple);
        text-decoration: none;
    }

/* Header */
.site-header {
    background-color: var(--dark-purple);
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.site-header-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
}

.site-navigation-list {
    align-items: center;
    display: flex;
    gap: 2.5rem;
    list-style-type: none;
    margin: 0;
}

.site-navigation-list li {
    margin: 0;
}

.site-navigation-link {
    font-size: 1rem;
    text-decoration: none;
}
    .site-navigation-link:not(.link-button):hover,
    .site-navigation-link:not(.link-button):focus {
        text-decoration: underline;
    }

.site-header-link {
    border: 0 none;
    font-size: 0;
    text-decoration: none;
}

.site-header-image {
    fill: var(--brand-color);
}
    .site-header-link:hover .site-header-image,
    .site-header-link:focus .site-header-image {
        fill: var(--link-hover-color);
    }

.site-header-logo {
    display: block;
}

.site-header-image {
    height: 3.005rem;
    width: 2.75rem;
}
    @media screen and (max-width: 42rem) {
        .site-header-image {
            height: 2.4rem;
            width: 2rem;
        }
    }

/* Footer */
.footer {
    background-color: var(--dark-purple);
    padding-top: 6rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-align: center;
}

.footer_container_text {
    color: #208fa7;
    font-size: 1rem;
}
