.content {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Hero area */

.hero-area {
    margin-bottom: 2.5rem;
    text-align: center;
}

.hero-area-link {
    border: 0 none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    width: 5rem;
}

    .hero-area-link:hover .hero-area-image,
    .hero-area-link:focus .hero-area-image {
        fill: var(--link-hover-color);
    }


.hero-area-logo {
    display: block;
    margin-bottom: 1rem;
}

    .hero-area-image {
        height: 3.8125rem;
        width: 5rem;
    }

.hero-area-name {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.25;
    margin-top: 1rem;
    text-transform: uppercase;
}
    @media screen and (min-width: 50rem) {
        .hero-area-name {
            font-size: 4rem;
        }
    }

.hero-area-position {
    border-top: 1px solid var(--dark-grey);
    font-size: .8rem;
    font-weight: 600;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: .3rem;
    padding-top: .5rem;
    text-transform: uppercase;
}

    @media screen and (min-width: 50rem) {
        .hero-area-position {
            font-size: 1rem;
            margin-top: 0;
            width: max-content;
        }
    }

.hero-area-position span {
    color: var(--brand-color);
    display: inline-block;
    font-weight: 700;
    animation: glitch 12.5s linear infinite 5s;
}

@keyframes glitch {
    0% {transform: rotate(0deg); }
    50% { transform: rotate(0deg); }
    55% { transform: rotate(20deg); }
    95% { transform: rotate(20deg); }
    100% { transform: rotate(0deg) }
}

/* Header */

.site-header {
    background-color: var(--dark-grey);
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}
    @media screen and (min-width: 50rem) {
        .site-header {
            position: sticky;
            top: 0;
            z-index: 5;
        }
    }

.site-navigation {
    padding-left: 1rem;
    padding-right: 1rem;
}
    @media screen and (min-width: 50rem) {
        .site-navigation {
            margin-left: auto;
            margin-right: auto;
            width: 50rem;
        }
    }

.site-navigation-list {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
}

.site-navigation-link {
    color: #f1f1f1;
}
    .site-navigation-link:hover,
    .site-navigation-link:focus {
        color: #fff;
        text-decoration: none;
    }

    .site-navigation-link-active {
        cursor: default;
        text-decoration: none;
    }

/* Footer */

.footer {
    margin-top: 4rem;
    margin-bottom: 1rem;
}
    @media screen and (min-width: 50rem) {
        .footer {
            text-align: end;
        }
    }
.footer_container {
    padding-left: 1rem;
    padding-right: 1rem;
}
    @media screen and (min-width: 50rem) {
        .footer_container {
            margin-left: auto;
            margin-right: auto;
            width: 50rem;
        }
    }
.footer_container_text {
    color: #756767;
    font-size: .8rem;
    font-style: italic;
}
