/*** POST LIST ***/

.project-title {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.project-list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 0;
}
    @media screen and (min-width: 50rem) {
        .project-list {
            margin-top: 2rem;
        }
    }

.project-entry {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 #ddd;
    flex-basis: calc(100% / 2);
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1rem;
}

.project-entry-link {
    border-color: transparent;
    display: block;
}

    .project-entry-link:focus {
        border-color: transparent;
    }
    .project-entry-link:focus .project-entry-title {
        border-color:var(--link-hover-color);
    }

.project-entry-image {
    display: block;
    max-width: 100%;
}

.project-entry-title {
    border: 1px solid transparent;
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    font-weight: 700;
}

.project-entry-lead {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.read-more-link {
    font-weight: 700;
}

/* Project page */

.project-article h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
    @media screen and (min-width: 50rem) {
        .project-article h2 {
            font-size: 2rem;
            line-height: 1.5;
            margin-top: 2rem;
        }
    }

.project-article-title {
    color: var(--brand-color);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: .5rem;
    margin-bottom: 1rem;
}
    @media screen and (min-width: 50rem) {
        .project-article-title {
            font-size: 3rem;
            line-height: 1.5;
            margin-top: 0;
        }
    }

.project-article-meta {
    font-size: .85rem;
}

.project-image-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 35rem) {
    .project-image-wrapper {
        flex-direction: row;
    }
}