.projects {
    margin-bottom: 2rem;
}

.projects-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-width);
    padding-right: 1rem;
    padding-left: 1rem;
}

.project-category {
    background: #6A498C;
    border-radius: 4px;
    color: #fff;
    font-size: .7rem;
    padding: .3rem .5rem;
    position: absolute;
    right: .6rem;
    text-transform: uppercase;
    top: .6rem;
    z-index: 3;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    margin: 0;
}

.project-entry {
    background-color: #4C345E;
    border-radius: 2px;
    box-shadow: 0 0 10px 0 rgba(76, 52, 94, 0.8);
    margin: 0;
    position: relative;
    transition: all ease .3s;

    &:hover, &:focus {
        scale: 1.02;
    }

    & picture {
        display: block;
        border-radius: 2px 2px 0 0;
        overflow: hidden;
    }
}

    @media screen and (min-width: 48rem) {
        .project-entry {
            flex-basis: calc((100% / 2) - 1rem);
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

.project-content {
    padding: 1.25rem;
}

.project-entry-link {
    display: block;
    text-decoration: none;
}

.project-title {
    color: #fff;
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.project-entry-link img {
    display: block;
    filter: grayscale(80%);
    transition: all ease .3s;
}
    .project-entry-link:hover img {
        filter: grayscale(0);
    }

.project-read-more {
    border-bottom: 1px solid currentColor;
    color: #fff;
    display: inline-block;
    font-size: 1rem;

    &::after {
        content: "→";
        margin-left: 4px;
    }
}

/* Article page */

.project-article {
    max-width: 64rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}
    @media screen and (min-width: 56rem) {
        .project-article {
            display: flex;
            gap: 48px;
            margin-top: 3rem;

            & aside {
                flex-shrink: 0;
                width: 270px;
            }
        }
    }

    @media screen and (max-width: 56rem) {
        .sidebar {
            display: none;
        }
    }

.project-article-title {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-top: .5rem;
}
    @media screen and (min-width: 50rem) {
        .project-article-title {
            font-size: 2.5rem;
            margin-top: 0;
        }
    }

.project-author {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin: 2.5rem 0;

    .avatar {
        border-radius: 100px;
        height: 50px;
        overflow: hidden;
        width: 50px;
        & img {
            display: block;
            height: 50px;
            width: 50px;
        }
    }

    .name {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
    }

    .date {
        font-size: .875rem;
        margin: 0;
    }
}

.project-article h2 {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 1rem;
}
    @media screen and (min-width: 50rem) {
        .project-article h2 {
            font-size: 1.5rem;
            margin-top: 3rem;
        }
    }

.project-article h3 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: .8rem;
    margin-top: 1rem;
}
    @media screen and (min-width: 50rem) {
        .project-article h3 {
            margin-top: 2rem;
        }
    }

.project-article h4 {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: .8rem;
    margin-top: 1rem;
}

.project-article ol,
.project-article ul {
    margin-bottom: 2rem;
}

.project-article ul ul {
    list-style-type: square;
}

.project-article ol ol {
    list-style-type: lower-roman;
}

.project-image-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 35rem) {
    .project-image-wrapper {
        flex-direction: row;
    }
}

.article-details {
    margin: 2rem 0;
}

.article-details summary {
    background-color: rgba(75, 27, 0, .1);
    cursor: pointer;
    padding: .6rem 1rem;
}

.summary {
    border: 2px solid rgba(75, 27, 0, .1);
    padding: 1.85rem 1.85rem 1rem;
}

.summary > h2:first-of-type,
.summary > h3:first-of-type,
.summary > h4:first-of-type {
    margin-top: 0;
}

.chapters {
    font-size: 1rem;
    margin-bottom: 0;

    & li::marker {
        color: #fc0;
    }
}