.projects {
    margin-bottom: 2rem;
}

.projects-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-width);
    padding-right: 2rem;
    padding-left: 2rem;
}

.project-list {
    list-style: none;
    margin: 0;
}

.project-entry {
    margin-top: 0;
    position: relative;
}
    .project-entry:not(:last-child) {
        margin-bottom: 8rem;
    }
    @media screen and (min-width: 48rem) {
        .project-entry {
            align-items: center;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }
    }

.project-content {
    grid-area: 1 / 1 / -1 / 8;
    position: relative;
}

@media screen and (min-width: 48rem) {
    .project-entry:nth-child(2n+1) .project-content {
        grid-area: 1 / 1 / -1 / 7;
        grid-column: 6 / -1;
        text-align: end;
    }
}

.project-entry-link {
    display: block;
    grid-area: 1 / 7 / -1 / -1;
    text-decoration: none;
}

.project-entry:nth-child(2n+1) .project-entry-link {
    grid-column: 1 / 7;
  }

.project-title {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.project-title-link {
    color: var(--link-color);
    display: inline-block;
    max-width: 25ch;
    text-decoration: none;
}

.project-entry-link img {
    filter: grayscale(80%);
    transition: all ease .3s;
}
    .project-entry-link img:hover {
        filter: grayscale(0);
    }

@media screen and (min-width: 48rem) {
    .project-lead {
        background-color: #cec0bb;
        padding: 1.2rem 1.5rem;
        text-wrap: balance;
    }
}

.project-read-more {
    margin-top: 1.5rem;
}

/* Article page */
.project-article {
    max-width: 65rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}
    @media screen and (min-width: 48rem) {
        .project-article {
            margin-top: 3rem;
            padding-right: 3.75rem;
            padding-left: 3.75rem;
        }
    }

.project-article-title {
    color: var(--brand-color);
    font-size: 2.2rem;
    line-height: 1.2;
    margin-top: .5rem;
    margin-bottom: 1rem;
}
    @media screen and (min-width: 50rem) {
        .project-article-title {
            font-size: 3rem;
            line-height: 1.5;
            margin-top: 0;
        }
    }

.project-article h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: .8rem;
    margin-top: 1rem;
}
    @media screen and (min-width: 50rem) {
        .project-article h2 {
            font-size: 2rem;
            line-height: 1.5;
            margin-top: 2rem;
        }
    }

.project-article h3 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: .8rem;
    margin-top: 1rem;
}
    @media screen and (min-width: 50rem) {
        .project-article h3 {
            font-size: 1.5rem;
            margin-top: 2rem;
        }
    }

.project-article h4 {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: .8rem;
    margin-top: 1rem;
}

.project-article ol,
.project-article ul {
    margin-bottom: 2rem;
}

.project-article ul ul {
    list-style-type: square;
}

.project-article ol ol {
    list-style-type: lower-roman;
}

.project-article-meta {
    font-size: .85rem;
    text-align: end;
}

.project-image-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 35rem) {
    .project-image-wrapper {
        flex-direction: row;
    }
}

.article-details {
    margin: 2rem 0;
}

.article-details summary {
    background-color: rgba(75, 27, 0, .1);
    cursor: pointer;
    padding: .6rem 1rem;
}

.summary {
    border: 2px solid rgba(75, 27, 0, .1);
    padding: 1.85rem 1.85rem 1rem;
}

.summary > h2:first-of-type,
.summary > h3:first-of-type,
.summary > h4:first-of-type {
    margin-top: 0;
}
