.subpage-title {
    color: var(--brand-color);
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
    @media screen and (min-width: 50rem) {
        .subpage-title {
            font-size: 3rem;
            line-height: 1.5;
        }
    }

@media screen and (min-width: 50rem) {
    .subpage-wrapper {
        align-items: flex-start;
        display: flex;
        gap: 2rem;
    }
}

.subpage-image {
    display: none;
}

@media screen and (min-width: 50rem) {
    .subpage-image {
        display: block;
        max-width: 300px;
    }
}