@charset 'utf-8';

$selector: 's-info';

.#{$selector} {
    padding: {
        bottom: 2rem;
        top: 2rem;
    }
    text-align: center;
    @media screen and (min-width: 1024px) and (min-height: 720px) {
        align-items: center;
        display: flex;
        height: calc(100vh - 92px);
        justify-content: center;
        padding: {
            bottom: 0;
            top: 0;
        }
    }
    &_logo {
        display: block;
        margin-bottom: 1rem;
        &_image {
            height: 93px;
            width: 112px;
        }
    }
    &_position {
        position: relative;
        &::before {
            @media screen and (min-width: 1024px) {
                background: {
                    color: $dark-grey;
                }
                content: '';
                height: 1px;
                left: 0;
                position: absolute;
                top: 50%;
                width: 100%;
                z-index: -1;
            }
        }
        &_text {
            background: {
                color: #fff;
            }
            font: {
                size: 1rem;
                weight: 600;
            }
            letter-spacing: .3rem;
            text-transform: uppercase;
            @media screen and (min-width: 1024px) {
                padding: {
                    left: 1rem;
                    right: 1rem;
                }
            }
        }
    }
    &_description {
        line-height: 1.75;
        &_link {
            color: $link-color;
            text-decoration: underline;
            &:hover, &:focus {
                color: $link-hover-color;
                text-decoration: none;
            }
            &:visited {
                color: $link-visited-color;
            }
        }
        &_highlight {
            font: {
                weight: 700;
            }
        }
    }
    &_name {
        font: {
            family: $secondary-font;
            size: 3rem;
            weight: 300;
        }
        line-height: 1.25;
        margin: {
            bottom: 2rem;
            top: 2rem;
        }
        text-transform: uppercase;
        @media screen and (min-width: 1024px) {
            font: {
                size: 5rem;
            }
        }
    }
    &_contact {
        margin-top: 2rem;
        &_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @media screen and (min-width: 1024px) {
                flex-wrap: nowrap;
            }
            &_item {
                margin: {
                    left: .5rem;
                    right: .5rem;
                }
                @media screen and (min-width: 1024px) {
                    margin: {
                        left: 1rem;
                        right: 1rem;
                    }
                }
                &_link {
                    outline: 0;
                    &_image {
                        fill: $dark-grey;
                        height: 40px;
                        transition: all .15s ease;
                        width: 40px;
                        @media screen and (min-width: 1024px) {
                            height: 50px;
                            width: 50px;
                        }
                        &:hover {
                            fill: $link-hover-color;
                        }
                        .#{$selector}_contact_list_item_link:focus & {
                            fill: $link-hover-color;
                        }
                    }
                }
            }
        }
    }
}
