@charset 'utf-8';

$card-bg-color: #fbf7f7;
$card-bg-hover-color: #f5f1f1;
$card-shadow-color: #c5c3c3;

$selector: 's-projects';

.#{$selector} {
    &_col {
        width: 100%;
        &:not(:last-child) {
            margin: {
                bottom: 2rem;
            }
        }
        @media screen and (min-width: 700px) {
            width: 50%;
            &:not(:last-child) {
                margin: {
                    bottom: 0;
                }
            }
        }
    }
    &_title {
        font-weight: 700;
        margin: {
            bottom: 1rem;
        }
    }
    &_list {
        &_item {
            @media screen and (max-width: 699px) {
                border: {
                    bottom-color: $dark-grey;
                    bottom-style: solid;
                    bottom-width: 1px;
                }
                padding: {
                    bottom: 1rem;
                }
            }
            @media screen and (min-width: 700px) {
                border: {
                    left-color: $dark-grey;
                    left-style: solid;
                    left-width: 2px;
                }
                padding: {
                    left: 1rem;
                }
            }
            &:not(:last-child) {
                margin: {
                    bottom: 1rem;
                }
                @media screen and (min-width: 700px) {
                    margin: {
                        bottom: 2rem;
                    }
                }
            }
            &_name {
                color: $link-color;
                display: block;
                font-weight: 700;
                text-decoration: underline;
                &:hover, &:focus {
                    color: $link-hover-color;
                    text-decoration: none;
                }
                &:visited {
                    color: $link-visited-color;
                }
            }
            &_position {
                display: block;
            }
            &_date {
                color: $light-grey;
                display: block;
                font-size: .8rem;
            }
        }
    }
    &_sublist {
        margin: {
            left: .5rem;
            top: 1rem;
        }
        &_item {
            &:not(:last-child) {
                margin: {
                    bottom: .5rem;
                }
            }
            &_name {
                color: $link-color;
                text-decoration: underline;
                &:hover, &:focus {
                    color: $link-hover-color;
                    text-decoration: none;
                }
                &:visited {
                    color: $link-visited-color;
                }
            }
            &_date {
                color: $light-grey;
                font-size: .8rem;
            }
        }
    }
}
