@charset 'utf-8';

$selector: 's-skills';

.#{$selector} {
    &_list {
        width: 100%;
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &_item {
            margin: {
                bottom: 1.5rem;
            }
            @media screen and (min-width: 1024px) {
                align-items: center;
                display: flex;
                width: 45%;
            }
            @media screen and (min-width: 1024px) {
                &:nth-child(odd) {
                    margin: {
                        right: 1rem;
                    }
                }
            }
            &_label {
                font-weight: 700;
                @media screen and (min-width: 1024px) {
                    width: 60%;
                }
            }
            &_status {
                background: {
                    color: #cccbcb;
                }
                height: 5px;
                margin: {
                    top: .375rem;
                }
                width: 100%;
                @media screen and (min-width: 1024px) {
                    margin: {
                        top: 0;
                    }
                }
                &_progress {
                    background: {
                        color: #191919;
                    }
                    display: block;
                    height: 5px;
                    .width-10 & {
                        width: 10%;
                    }
                    .width-20 & {
                        width: 20%;
                    }
                    .width-30 & {
                        width: 30%;
                    }
                    .width-40 & {
                        width: 40%;
                    }
                    .width-50 & {
                        width: 50%;
                    }
                    .width-60 & {
                        width: 60%;
                    }
                    .width-70 & {
                        width: 70%;
                    }
                    .width-80 & {
                        width: 80%;
                    }
                    .width-90 & {
                        width: 90%;
                    }
                    .width-100 & {
                        width: 100%;
                    }
                }
            }
        }
    }
}
